*{margin:0;padding:0;}
.main{padding:20px;width:80%;margin:0 auto;text-align:center;}
h1{font-size:24px;text-align:center;line-height:40px;}
img{margin:10px 0;}
p{font-size:18px;line-height:24px;color:green;margin:10px 0;}
button{border:1px solid green;padding:5px 10px;background:green;color:#fff;}
button:hover{background:#fff;color:green;border:1px solid green;}